<div class="infoBeer">
    <a href="./cars/<%- beer.id  %>">
            <p class="titleBeer"> <%- beer.name %>  </p>
        </a>
        <p class="tagbeer"><%- beer.tagline %></p> 
            <p class="paraBeer"><%- beer.description %></p>
    </div>