<div class="bigBoy">    
    <% beerInfo.forEach((beer)=> { %>
        <section class="genBeer"> 
            <%- include('./partials/beer.ejs', {beer}) %>            
        </section> 
    <% }) %>   
</div>

