<div class="bigGirl">
    <% beerInfo.forEach((beer)=> { %>
        <%- include('./partials/beer.ejs', {beer}) %>
         

        <div class="smallGirl">
            <ul> 
                <h3>Food pairing</h3>
                <% beer.food_pairing.forEach((pair)=> { %> 
                    <li><%- pair %></li> 
                <% }) %> 
            </ul> 
            <p><strong>Brewer Tips: </strong><%- beer.brewers_tips %></p> 
        </div>
    <% }) %>    
</div>
